<%- include("partials/header.ejs") %>
<h1 class="topicsh1">Thought Keeper</h1>
<p>Hello my name is Rishabh Dutt. I am a computer since student. Currently learning web developement.I hope you find this  web app ineteresing.
</p>
